
.cartList {
  height:70px;
  line-height:70px;
  background-color:#FDFCF8;
  font-size: 18px;
}

.cartList .mblListItemIcon{
  margin: 3px 0;
}

.cartItemTitle {
  position: absolute;
  left:83px;
  right:85px;
  height:64px;
  margin: 3px 0;
  overflow: hidden;
}
.cartItemTitle1{
  color:#909285;
  font-weight:bold;
  width:100%;
  height:32px;
  line-height:32px;
  white-space:nowrap;
  text-overflow:ellipsis;  
  overflow: hidden;
}
.cartItemTitle2{
  color:#b0b2a5;
  font-size: 14px;
  height:32px;
  line-height:32px;
}
.cartItemPriceTot{
 position:absolute;
 right:5px;
 color:#FFC244;
 font-weight:bold;
}

.cartItemPriceUni {
 position:absolute;
 left:50px;
 color:#FFC244;
 font-weight:bold;
 font-size: 16px;
}
