/*
 * Menu CSS
 * */

.menuList {
  height:70px;
  line-height:70px;
  background-color:#FDFCF8;
  font-size: 16px;
}

.menuList .mblListItemIcon{
  margin: 3px 11px 3px 0;
}

.menuTitle {
  color:#909285;
  font-weight:bold;
}

.menuPrice {
 color:#FFC244;
 font-weight:bold;
 padding-right:5px;
 float:right;
}

.menuList .mblListItemRightIcon{
  margin-top: 20px;
}
