/*
 * Menu CSS
 * */

.menuList {
  height:70px;
  line-height:70px;
  background-color:#FDFCF8;
  font-size: 18px;
}

.menuList .mblListItemIcon{
  margin: 3px 11px 3px 0;
}

.menuTitle {
  position:absolute;
  top:0;
  bottom:0;
  left:83px;
  right:120px;
  color:#909285;
  font-weight:bold;
  white-space:nowrap;
  text-overflow:ellipsis;
  overflow:hidden;
}

.menuGroupList .menuTitle{
  right:30px;
}

.menuPrice {
 position:absolute;
 top:0;
 right:40px;
 color:#FFC244;
 font-weight:bold;
}

.menuList .mblListItemRightIcon{
  margin-top: 20px;
}
