/**
 * choose your device theme:
 */
/*
@import '../../dojox/mobile/themes/android/android.css';
@import '../../dojox/mobile/themes/blackberry/blackberry.css';
@import '../../dojox/mobile/themes/custom/custom.css';
@import '../../dojox/mobile/themes/holodark/holodark.css';
@import '../../dojox/mobile/themes/iphone/iphone.css';
@import '../../dojox/mobile/themes/windows/windows.css';

@import '../../dojox/mobile/themes/common/domButtons/DomButtonBlueBadge.css';
*/

@import '../../dojox/mobile/themes/custom/custom.css';

/* Widgets CSS*/
@import '../hcel/theme/hcelHeading.css';
@import '../hcel/theme/hcelView.css';
@import '../hcel/theme/hcelScrollableView.css';
@import '../hcel/theme/hcelButton.css';
@import '../hcel/theme/hcelPicker.css';
@import '../hcel/theme/domButtons/DomButtonTrash.css';
@import '../hcel/theme/domButtons/DomButtonWhiteLeftArrow.css';
@import '../hcel/theme/domButtons/DomButtonGrayLeftArrow.css';
@import '../hcel/theme/domButtons/DomButtonWhiteLeftCorner.css';
@import '../hcel/theme/domButtons/DomButtonGrayLeftCorner.css';

/* Views CSS*/
@import '../theme/menuView.css';
@import '../theme/cartView.css';
@import '../theme/itemView.css';

*{
  -webkit-user-select:none;
  user-select:none;
  outline:none;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
}
input:focus, input[type="password"]:focus,
input[type="text"]:focus,
textarea:focus, select:focus{
  -webkit-user-select:text;
  user-select:text;
 -webkit-user-modify: read-write-plaintext-only;
}


div.innerBox{
  border: 1px solid #c0c0c0;
  border-bottom-color: #9b9b9b;
  padding: 3px 10px;
  border-radius : 25px;
}

.mblTextBox {
  width: 100%;
  border: none;
}

.mblIconButton{
  padding: 0;
}
.mblIconButtonSelected{
  padding-top: 1px;
  padding-left: 1px;
}


.mblBigButton {
  border-radius : 25px;
  margin-top:5px;
  margin-bottom:5px;
  height: 50px;
  width:100%;
  font-weight: bold;
  font-size: 16px;
}

.mblRoundRect{
  margin-left:0;
  margin-right:0;
  padding-left:0;
  padding-right:0;
}

.center-content {
  margin-left:auto;
  margin-right:auto;
  max-width:300px;
}

.center-container {
  margin-left:auto;
  margin-right:auto;
  max-width:700px;
}

.login-label{
  font-size: 14px;
  margin-left:5px;
}

