/**
 * choose your device theme:
 */
/*
@import '../../dojox/mobile/themes/android/android.css';
@import '../../dojox/mobile/themes/blackberry/blackberry.css';
@import '../../dojox/mobile/themes/custom/custom.css';
@import '../../dojox/mobile/themes/holodark/holodark.css';
@import '../../dojox/mobile/themes/iphone/iphone.css';
@import '../../dojox/mobile/themes/windows/windows.css';

@import '../../dojox/mobile/themes/common/domButtons/DomButtonBlueBadge.css';
*/

@import '../../dojox/mobile/themes/custom/custom.css';
@import './widget/button.css';
@import './widget/picker.css';
@import './widget/DomButtonTrash.css';

*{
  -webkit-user-select:none;
  user-select:none;
  outline:none;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
}


input:focus, input[type="password"]:focus,
input[type="text"]:focus,
textarea:focus, select:focus{
  -webkit-user-select:text;
  user-select:text;
 -webkit-user-modify: read-write-plaintext-only;
}

div.innerBox{
  border: 1px solid #c0c0c0;
  border-bottom-color: #9b9b9b;
  padding: 3px 10px;
  border-radius : 25px;
}

.mblTextBox {
  width: 100%;
  border: none;
}

.mblIconButton{
  padding: 0;
}
.mblIconButtonSelected{
  padding-top: 1px;
  padding-left: 1px;
}


.mblBigButton {
  border-radius : 25px;
  margin-top:5px;
  margin-bottom:5px;
  height: 50px;
  width:100%;
  font-weight: bold;
  font-size: 16px;
}

.mblRoundRect{
  margin-left:0;
  margin-right:0;
  padding-left:0;
  padding-right:0;
}

.center-content {
  margin-left:auto;
  margin-right:auto;
  max-width:300px;
}

.center-container {
  margin-left:auto;
  margin-right:auto;
  max-width:700px;
}

.login-label{
  font-size: 14px;
  margin-left:5px;
}

.cart-list{
  height:80px;
  line-height:80px;
  font-weight:normal;
  background-color:#FFFDDF;
  font-size: 14px;
}

.cart-list .hcelPickerButton{
 height : 30px;
}
.cart-list .hcelPickerValue{
  height: 16px;
}

.cart-list .mblListItemIcon {
  display:none;
}

.cart-edit .mblListItemIcon{
  display: inline-block;
  line-height:normal;
  position:absolute;
  padding:0;
  margin:0;
  top:25px;
  left:3px;
  cursor:pointer;
}

/*
 Button " + " and " - " table of cart
*/
.cart-quant{
  position:absolute;
  left:0px;
  width:35px;
}
.cart-edit .cart-quant{
  left:30px;
  display:none;
}

/*
 Description table of cart
*/
.cart-desc{
  position:absolute;
  right:111px;
  left:35px;
  top:0px;
  bottom:0px;
  padding-left:5px;
  padding-right:5px;
  border-left: 1px solid #c0c0c0;
}

/*
 Description table of cart
*/
.cart-desc span {
  display: inline-block;
  line-height:normal;
}

/*
 Unity Price table of cart
*/
.cart-price-un{
  position:absolute;

  right:56px;
  width:50px;
  padding-right: 5px; /*width total = 55px*/

  text-align: right;
  border-left: 1px solid #c0c0c0;
}

/*
 Total Value table of cart
*/
.cart-price-tot {
  position:absolute;
  right:0px;

  width:50px;
  padding-right: 5px; /*width total = 55px*/

  text-align: right;
  border-left: 1px solid #c0c0c0;
}


.cart-title>div{
  text-align: center;
}

.cart-title .cart-price-un,
.cart-title .cart-price-tot{
  line-height: normal;
}

.cart-button{
  position:absolute;
  left:0px;
  width:80px;
}

.cart-footer>.cart-desc{
  text-align:right;
  left:80px;
  border-left:0;
  padding-right:5px;
}

/*
 Total cart value table of cart
*/
.cart-total{
  position:absolute;
  right:0px;
  width:111px;
  border-left: 1px solid #c0c0c0;
  text-align:center;
}

.cart-footer, .cart-title{
  background-color: #85BFFE;
}

/*
 * Menu CSS
 * */

.menu-list {
  height:72px;
  line-height:72px;
  background-color:#FDFCF8;
  font-size: 16px;
}

.menu-title {
  color:#909285;
  font-weight:bold;
}

.menu-price {
 color:#FFC244;
 font-weight:bold;
 padding-right:5px;
 float:right;
}

.menu-list .mblListItemRightIcon{
  margin-top:21px;
}

.menu-dlg {
  border:none;
  background-color:#FDFCF8;
  cursor: default;
  padding:0;
}

.menu-dlg .mblSimpleDialogTitle{
 margin:0;
 padding:0;
 border:none;
 overflow:hidden; 
}

.menu-dlg .menu-icon {
  display:inline-block;
  margin-left:5px;
  margin-top:5px;
  float:left;
}

.menu-dlg .menu-title {
  float:left;
  line-height:69px;
  margin-left:5px;
  font-size:18px;
}

.menu-dlg .menu-label {
  color:#C1BEAB;
  font-weight:bold;
  font-size:13px;
  text-align:left;
  margin-left:10px;
  margin-bottom:3px;  
}

.menu-dlg .menu-descr {
  color:#808275;
  font-size:15px;
  text-align:justify;
  background-color:#FFFFFF;
  border-color:#D9D7D0;
  border-style:solid;
  border-width: 1px 0px;
  padding:5px;
  margin-bottom:5px;
}

.menu-edit{
  display:inline-block;
  width:100%;
  margin-bottom:5px;
}

.menu-dlg .hcelPicker {
  margin-left:5px;
}

.menu-trash-button{
  height:40px;
  border-radius:7px;
  float: right;
  margin-right:5px;
}

.menu-trash-button .mblDomButton{
  margin: 5px auto;
}

