/**
 * choose your device theme:
 */
/*
@import '../../dojox/mobile/themes/android/android.css';
@import '../../dojox/mobile/themes/blackberry/blackberry.css';
@import '../../dojox/mobile/themes/custom/custom.css';
@import '../../dojox/mobile/themes/holodark/holodark.css';
@import '../../dojox/mobile/themes/iphone/iphone.css';
@import '../../dojox/mobile/themes/windows/windows.css';
*/
@import '../../dojox/mobile/themes/custom/custom.css';

input:focus, input[type="password"]:focus,
input[type="text"]:focus,
textarea:focus, select:focus{
  outline:none;
 -webkit-tap-highlight-color:rgba(0,0,0,0);
 -webkit-user-modify: read-write-plaintext-only;
}
button:focus{
  outline:none;
}

div.inner{
  border: 1px solid #c0c0c0;
  border-bottom-color: #9b9b9b;
  padding: 3px 10px;
  border-radius : 25px;
}

.mblTextBox {
  width: 100%;
  border: none;
}

.mblButton {
  border-radius : 25px;
  margin-top:5px;
  margin-bottom:5px;
}

.mblBigButton {
  height: 50px;
  width:100%;
  font-weight: bold;
  font-size: 16px;
}

.mblBlueButton{
  background-image: -webkit-gradient(linear, 0% 0, 0% 100%, from(#b0d0ec), color-stop(0.06, #73adde), to(#295584));
  background-image: linear-gradient(to bottom, #b0d0ec 0%, #73adde 6%, #295584 100%);
  border-color: #2d4769;
  border-top-color: #426c95;
  text-shadow:0 1px 2px #183249;
  color:white;
  background-color: #b0d0ec;
}
.mblBlueButtonSelected{
  background-image: -webkit-gradient(linear, 0% 0, 0% 100%, from(#88a0bb), color-stop(0.06, #2c5887), to(#70aadb));
  background-image: linear-gradient(to bottom, #88a0bb 0%, #2c5887 6%, #70aadb 100%);
  border-color: #2d4769;
  border-top-color: #426c95;
  text-shadow:0 1px 2px #183249;
  color:white;
  background-color: #b0d0ec;
}

.container-center {
  margin: auto;
  max-width: 400px;
}

.menu-list {
  height : 72px;
  line-height : 72px;
}

.login-label{
  font-size: 14px;
}

.mblRoundRect{
  margin-left:0;
  margin-right:0;
  padding-left:0;
  padding-right:0;
}

.mblRoundRectList{
  margin-left:auto;
  margin-right:auto;
  max-width:800px;
}

.cart-center {
  margin: auto;
  max-width: 800px;
  padding:0;
}

.cart-list{
  height:80px;
  line-height:80px;
  font-weight:normal;
  background-color:#FFFDDF;
}

.cart-list .mblValuePickerSlotInputArea{
  height: 20px;
}
.cart-list .mblValuePickerSlotInput{
  font-size: 14px;
  background-color:#FFFDDF;
}
.cart-list .mblValuePickerSlotButton{
  height: 30px;
}
.cart-list .mblValuePickerSlotIcon{
 top:2px;
}

.cart-c1{
  position:absolute;
  right:75px;
  left:35px;
  top:0px;
  bottom:0px;
  padding-left:5px;
  padding-right:5px;
  border-left: 1px solid #c0c0c0;
}

.cart-c1 span {
  display: inline-block;
  line-height:normal;
}
.cart-c2{
  position:absolute;
  right:0px;

  width:70px;
  padding-right: 5px; /*width total = 75px*/

  text-align: right;
  border-left: 1px solid #c0c0c0;
}
.cart-c3{
  position:absolute;
  left:0px;
  width:35px;
}

.cart-c23{
  position:absolute;
  right:0px;
  width:75px;
  border-left: 1px solid #c0c0c0;
  text-align:center;
}

.cart-title>div{
  text-align: center;
}

.cart-footer>.cart-c1{
  text-align:right;
}

.cart-footer, .cart-title{
  background-color: #85BFFE;
}

/* Gradient color
  background-image: -webkit-gradient(linear, 0% 0, 0% 100%, from(#cbcc68), color-stop(0.5, #f5f6cb), to(#cbcc68));
  background-image: linear-gradient(to bottom, #cbcc68 0%, #f5f6cb 50%, #cbcc68 100%);
*/
