/* === BlackLeftArrow16 ==*/
.mblDomButtonBlueLeftCorner {
  position: relative;
  width: 20px;
  height: 29px;
}

.mblDomButtonBlueLeftCorner > div {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 12px;
  height: 12px;
  font-size: 1px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  border-width: 0px 0px 3px 3px;
  border-style: solid;
  border-color: #3498db; /*#2980b9;*/
}
