/* === BlackLeftArrow16 ==*/

.mblDomButtonGrayLeftArrow {
  position: relative;
  width: 29px;
  height: 29px;
}

.mblDomButtonGrayLeftArrow > div {
  position: absolute;
  top: 12px;
  left: 4px;
  width: 22px;
  height: 4px;
  margin: 0px;
  font-size: 1px;
  background-color: #9B998D;
  border-radius: 0 4px 4px 0;
}

.mblDomButtonGrayLeftArrow > div > div {
  position: absolute;
  top: 4px;
  left: -4px;
  width: 15px;
  height: 4px;
  margin: 0px;
  font-size: 1px;
  background-color: #9B998D;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  border-radius: 4px;
}

.mblDomButtonGrayLeftArrow > div > div > div{
  position: absolute;
  top: -11px;
  left: 0px;
  width: 4px;
  height: 15px;
  margin: 0px;
  font-size: 1px;
  background-color: #9B998D;
  border-radius: 4px;
}

