.hcelHeading{
  position: relative;
  margin: 0;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  font-family: Helvetica;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  height:40px;
  line-height:40px;
  color:#ecf0f1;
  background-color:rgba(41, 128, 185, 0.9);
}
.hcelHeadingSpanTitle{

}
.hcelHeadingButtonBack{
  position:absolute;
  border:none;
  left:0;
  top:0;
  bottom:0;
}
.hcelHeadingButtonBack .mblDomButton{
  position:absolute;
  left:5px;
  top:0;
  bottom:0;
  margin:auto;
}

