  <div id="about" data-dojo-type="dojox/mobile/ScrollableView">
    <h1 data-dojo-type="dojox/mobile/Heading"
        data-dojo-props="label:'About',
                         fixed:'top',
                         back:'Home',
                         moveTo:'home'">
    </h1>
    <ul data-dojo-type="dojox/mobile/RoundRectList">
      <li id = "about-model"
          data-dojo-type="dojox/mobile/ListItem"
          data-dojo-props="label:'Device Model:',
                           rightText:'---'">
      </li>
      <li id = "about-cordova"
          data-dojo-type="dojox/mobile/ListItem"
          data-dojo-props="label:'Device Cordova:',
                          rightText:'---'">
        
      </li>
      <li id = "about-platform"
          data-dojo-type="dojox/mobile/ListItem"
          data-dojo-props="label:'Device Platform:',
                           rightText:'---'">
      </li>
      <li id = "about-uuid"
          data-dojo-type="dojox/mobile/ListItem"
          data-dojo-props="label:'Device UUID:',
                           rightText:'---'">
      </li>
      <li id = "about-version"
          data-dojo-type="dojox/mobile/ListItem"
          data-dojo-props="label:'Device Version:',
                           rightText:'---'">
      </li>
    </ul>
    <div style = "height: 45px"></div> <!-- space to footer -->
  </div>
