<div id="bebidas" data-dojo-type="dojox/mobile/ScrollableView">
  <h1 data-dojo-type="dojox/mobile/Heading"
        data-dojo-props="label:'About',
                         fixed:'top',
                         back:'Home',
                         moveTo:'home'">
  </h1>


    <ul data-dojo-type="dojox/mobile/RoundRectList"
        data-dojo-props="select:'multiple'">

    <li id = "bebidas-sucos" class = "menu-list"
          data-dojo-type="dojox/mobile/ListItem"
          data-dojo-props="label:'Sucos',
                           icon:'app/resources/img/sucos_64.png' ">
    </li>

    <li id = "bebidas-refrigerantes" class = "menu-list"
          data-dojo-type="dojox/mobile/ListItem"
          data-dojo-props="label:'Refrigerantes',
                           icon:'app/resources/img/refrigerantes_64.png' ">
    </li>

    <li id = "bebidas-cervejas" class = "menu-list"
          data-dojo-type="dojox/mobile/ListItem"
          data-dojo-props="label:'Cervejas',
                           icon:'app/resources/img/cervejas_64.png' ">
    </li>

  </ul>

    <div style = "height: 45px"></div> <!-- space to footer -->
</div>
