<div id="drinks" data-dojo-type="dojox/mobile/ScrollableView">
  <h1 data-dojo-type="dojox/mobile/Heading"
        data-dojo-props="label:'Bebidas',
                         fixed:'top',
                         back:'Card&aacute;pio',
                         moveTo:'menu'">
  </h1>


    <ul data-dojo-type="dojox/mobile/RoundRectList">

    <li id = "drinks-juices" class = "menu-list"
          data-dojo-type="dojox/mobile/ListItem"
          data-dojo-props='label:"Sucos",
                           moveTo:"juices",
                           icon:"app/resources/img/juices_64.png",
                           rightIcon:"mblDomButtonBlueCircleArrow"'>
    </li>

    <li id = "drinks-sodas" class = "menu-list"
          data-dojo-type="dojox/mobile/ListItem"
          data-dojo-props='label:"Refrigerantes",
                           moveTo:"sodas",
                           icon:"app/resources/img/sodas_64.png",
                           rightIcon:"mblDomButtonBlueCircleArrow"'>
    </li>

    <li id = "drinks-beers" class = "menu-list"
          data-dojo-type="dojox/mobile/ListItem"
          data-dojo-props='label:"Cervejas",
                           moveTo:"beers",
                           icon:"app/resources/img/beers_64.png",
                           rightIcon:"mblDomButtonBlueCircleArrow"'>
    </li>

  </ul>

    <div style = "height: 32px"></div> <!-- space to footer -->
</div>
