<div id="drinks" data-dojo-type="dojox/mobile/ScrollableView">
  <h1 data-dojo-type="dojox/mobile/Heading"
        data-dojo-props="label:'Bebidas',
                         fixed:'top',
                         back:'Card&aacute;pio',
                         moveTo:'menu'">
  </h1>


    <ul data-dojo-type="dojox/mobile/RoundRectList"
        data-dojo-props="select:'multiple'">

    <li id = "drinks-juices" class = "menu-list"
          data-dojo-type="dojox/mobile/ListItem"
          data-dojo-props="label:'Sucos',
                          moveTo:'juices',
                           icon:'app/resources/img/juices_64.png' ">
    </li>

    <li id = "drinks-sodas" class = "menu-list"
          data-dojo-type="dojox/mobile/ListItem"
          data-dojo-props="label:'Refrigerantes',
                           icon:'app/resources/img/sodas_64.png' ">
    </li>

    <li id = "drinks-beers" class = "menu-list"
          data-dojo-type="dojox/mobile/ListItem"
          data-dojo-props="label:'Cervejas',
                           icon:'app/resources/img/beers_64.png' ">
    </li>

  </ul>

    <div style = "height: 45px"></div> <!-- space to footer -->
</div>
