  <div id = 'home' data-dojo-type="dojox/mobile/ScrollableView">
    <h1 data-dojo-type="dojox/mobile/Heading"
        data-dojo-props="label:'Home',fixed:'top'">
    </h1>
    <h2 data-dojo-type="dojox/mobile/RoundRectCategory">First Section</h2>
    <div id="deviceProperties" data-dojo-type="dojox/mobile/RoundRect">
      This is a nice standard rounded rectangular label.
    </div>
    <h2 data-dojo-type="dojox/mobile/RoundRectCategory">Second Section</h2>
    <ul data-dojo-type="dojox/mobile/RoundRectList">
      <li data-dojo-type="dojox/mobile/ListItem"
          data-dojo-props="label:'Pizzas',moveTo:'pizzas'">
      </li>
      <li data-dojo-type="dojox/mobile/ListItem"
          data-dojo-props="label:'Massas',moveTo:'massas'">
      </li>
      <li data-dojo-type="dojox/mobile/ListItem"
          data-dojo-props="label:'Sobremesas',moveTo:'sobremesas'">
      </li>
      <li data-dojo-type="dojox/mobile/ListItem"
          data-dojo-props="label:'Bebidas',moveTo:'bebidas'">
      </li>
      <li data-dojo-type="dojox/mobile/ListItem"
          data-dojo-props="label:'About',moveTo:'about'">
      </li>
    </ul>
    <div style = "height: 45px"></div> <!-- space to footer -->
  </div>
