<div id="juices" data-dojo-type="dojox/mobile/ScrollableView">
  <h1 data-dojo-type="dojox/mobile/Heading"
        data-dojo-props="label:'Sucos',
                         fixed:'top',
                         back:'Bebidas',
                         moveTo:'drinks'">
  </h1>


    <ul data-dojo-type="dojox/mobile/RoundRectList"
        data-dojo-props="select:'multiple'">

    <li id = "juices-orange" class = "menu-list"
          data-dojo-type="dojox/mobile/ListItem"
          data-dojo-props="label:'Laranja',
                           icon:'app/resources/img/orange_64.png' ">
    </li>

    <li id = "juices-lemon" class = "menu-list"
          data-dojo-type="dojox/mobile/ListItem"
          data-dojo-props="label:'Lim&atilde;o',
                           icon:'app/resources/img/lemon_64.png' ">
    </li>

    <li id = "juices-pineapple" class = "menu-list"
          data-dojo-type="dojox/mobile/ListItem"
          data-dojo-props="label:'Abacaxi',
                           icon:'app/resources/img/pineapple_64.png' ">
    </li>

  </ul>

    <div style = "height: 32px"></div> <!-- space to footer -->
</div>
