<div id="login" data-dojo-type="dojox/mobile/ScrollableView">
  <h1 data-dojo-type="dojox/mobile/Heading"
        data-dojo-props="label:'Login',
                         fixed:'top'">
  </h1>

  <div data-dojo-type = "dojox/mobile/RoundRect">
    <div class = "container-center">
    <label class="login-label" for="c_login">Login (CPF ou e-mail)</label><br>
    <div class="inner">
      <input id="c_login" data-dojo-type="dojox/mobile/TextBox" 
        data-dojo-props='maxLength:50, value:"", placeHolder:"CPF ou e-mail", onChange:function(newValue){ alert("value changed to " + newValue); }' />
    </div>
    <label class="login-label" for="password">Senha</label><br>
    <div class="inner">
      <input id="password"  data-dojo-type="dojox/mobile/TextBox" type = "password" 
        data-dojo-props='maxLength:50, value:"", placeHolder:"senha", onChange:function(newValue){ alert("value changed to " + newValue); }' />
    </div>
    <button id="button_iforgotmypassword" type="password" class="mblBlueButton" style="-webkit-border-radius" data-dojo-type="dojox/mobile/Button">Esqueci a minha senha</button>
    <br>

    <button id="send" class="mblBlueButton mblBigButton" data-dojo-type="dojox/mobile/Button">ENVIAR</button>
    <br>

    <button id="newregister" class="mblBlueButton mblBigButton" data-dojo-type="dojox/mobile/Button">NOVO CADASTRO</button>
    </div>
  </div>
  <div style = "height: 32px"></div> <!-- space to footer -->
</div>
