  <div id = 'menu' data-dojo-type="dojox/mobile/ScrollableView">
    <h1 data-dojo-type="dojox/mobile/Heading"
        data-dojo-props="label:'Cardápio',fixed:'top'">
    </h1>

    <ul data-dojo-type="dojox/mobile/RoundRectList">
      <li data-dojo-type="dojox/mobile/ListItem"
          data-dojo-props="label:'Pizzas',moveTo:'pizzas'">
      </li>
      <li data-dojo-type="dojox/mobile/ListItem"
          data-dojo-props="label:'Bebidas',moveTo:'drinks'">
      </li>
    </ul>
    <div style = "height: 45px"></div> <!-- space to footer -->
  </div>
