<div id="pizzas" data-dojo-type="dojox/mobile/ScrollableView">
  <h1 data-dojo-type="dojox/mobile/Heading"
        data-dojo-props="label:'Pizzas',
                         fixed:'top',
                         back:'Home',
                         moveTo:'home'">
  </h1>


    <ul data-dojo-type="dojox/mobile/RoundRectList"
        data-dojo-props="select:'multiple'">

    <li id = "pizzas-calbresa" class = "menu-list"
          data-dojo-type="dojox/mobile/ListItem"
          data-dojo-props="label:'Calabresa',
                           icon:'app/resources/img/pizza.png' ">
    </li>

    <li id = "pizzas-peperoni" class = "menu-list"
          data-dojo-type="dojox/mobile/ListItem"
          data-dojo-props="label:'Peperoni:',
                          icon:'app/resources/img/pizza.png'">
    </li>

    <li id = "pizzas-milho" class = "menu-list"
          data-dojo-type="dojox/mobile/ListItem"
          data-dojo-props="label:'Milho:',
                          icon:'app/resources/img/pizza.png'">
    </li>

    <li id = "pizzas-amodadacasa" class = "menu-list"
          data-dojo-type="dojox/mobile/ListItem"
          data-dojo-props="label:'A Moda da Casa:',
                          icon:'app/resources/img/pizza.png'">
    </li>

  </ul>

    <div style = "height: 45px"></div> <!-- space to footer -->
</div>
